[submodule "audiovisualization"]
	path = audiovisualization
	url = git@github.com:DerTyp7214/Audiovisualization.git
[submodule "colorutilsc"]
	path = colorutilsc
	url = git@github.com:DerTyp7214/ColorUtilsC.git